<!DOCTYPE HTML>
<html>
	<head>
        {% block head %}
        <meta charset="utf-8">
    	<title>{% block title %}{% endblock %}</title>
        <link rel="icon"  href="/static/img/hnust.png"></link>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"></link>
        {% endblock %}
	</head>

    {% include('nav.jinja') %}

    <body>
        {% block content %}{% endblock %}

    	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js "></script>
	</body>
</html>